/* ==========================================================================
   CV Layout
   ========================================================================== */

.cv-layout .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 1em 2em;
  animation: intro 0.3s both;
  animation-delay: 0.35s;
}

.cv-layout #main {
  margin-top: 2em;
}
